
.pic_uper{
    margin-top: 2.5rem;
}

.title_penal{
    margin-top: 4rem;
}

.detail_coor{
    text-align: justify;
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 29px;
}

.gallry_penal{
    margin-top: 4.5rem;
}

.admin_dead{
    font-family: 'Libre Baskerville', serif;
    font-size: 35px;
}
.date_admin{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
    font-size: 26px;
    display: flex;
    justify-content: start;

}


:where(.css-dev-only-do-not-override-1e3x2xa).ant-upload-wrapper.ant-upload-picture-card-wrapper .ant-upload.ant-upload-select, :where(.css-dev-only-do-not-override-1e3x2xa).ant-upload-wrapper.ant-upload-picture-circle-wrapper .ant-upload.ant-upload-select {
    width: 100%;
    height: 245px;
    margin-inline-end: 0px !important; 
    margin-bottom: 0px !important;
    text-align: center;
    vertical-align: top;
    background-color: rgba(0, 0, 0, 0.02);
    border: 1px dashed #d9d9d9;
    border-radius: 8px;
    cursor: pointer;
    transition: border-color 0.3s;
}



@media only screen and (max-width:600px) {
    :where(.css-dev-only-do-not-override-1e3x2xa).ant-upload-wrapper.ant-upload-picture-card-wrapper .ant-upload.ant-upload-select, :where(.css-dev-only-do-not-override-1e3x2xa).ant-upload-wrapper.ant-upload-picture-circle-wrapper .ant-upload.ant-upload-select {
        width: 250px;
        height: 217px;
        margin-inline-end: 0px !important; 
        margin-bottom: 0px !important;
        text-align: center;
        vertical-align: top;
        background-color: rgba(0, 0, 0, 0.02);
        border: 1px dashed #d9d9d9;
        border-radius: 8px;
        cursor: pointer;
        transition: border-color 0.3s;
    }
}